<ion-modal-view>
  <ion-header-bar class="bar-popup">
    <h1 class="title">请选择性别</h1>
  </ion-header-bar>
  <ion-content>
    <div class="gender-modal">
      <div class="gender gender-female" ng-click="selectGender(0)"><img src="img/gender-female.png" alt=""/></div>
      <div class="gender gender-male" ng-click="selectGender(1)"><img src="img/gender-male.png" alt=""/></div>
    </div>
    <div style="text-align:center">
      <a href="javascript:void(0)" ng-click="login()">我是老用户，我要登录 >></a>
    </div>
  </ion-content>
</ion-modal-view>
